@using Microsoft.AspNetCore.Mvc.Localization
@using TicketReSail.Core.Interface
@using TicketReSail.DAL.Model
@inject IViewLocalizer Localizer
@inject IVenueService Venue
@inject IUserService UserService

@model EventsViewModel
@{ ViewData["Title"] = "Tickets"; }

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="text-center">
                <img src="@Url.Action("GetImage", new {id = Model.Event.Id})" alt="@Model.Event.Banner" class="img-thumbnail" />
            </div>
            <div class="text-center">
                <form asp-action="DeleteEvent" asp-route-id="@Model.Event.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-primary">Delete</button>
                </form>
            </div>
            <div class="text-center">
                @Html.ActionLink("Add Ticket", "CreateTicket", "Ticket", new {id = Model.Event.Id})
            </div>
        </div>
        <div class="col-sm-9">
            <h2>@Model.Event.Name</h2>
            <div>
                <p>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-geo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
                    </svg>
                    @Venue.GetCityNameByVenueId(Model.Event.VenueId), @Venue.GetNameVenueById(Model.Event.VenueId)
                </p>

                <p>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                        <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>
                    @Model.Event.Date.ToString("dd.MM.yyyy")
                </p>

                <p>
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-alarm" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z" />
                    </svg>
                    @Model.Event.Date.ToString("HH:mm")
                </p>
            </div>

            <div>@Localizer["Description"]:</div>
            <div>@Model.Event.Description</div>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        @foreach (var ticket in Model.Tickets)
        {
            if (!ticket.Bought)
            {
                <div class="col-3">
                    <div class="text-center">
                        <img src="~/img/Ticket.jpg" width="180" height="150" alt="Ticket" />
                    </div>
                </div>
                <div class="col-5">
                    <div><strong>@Localizer["Seller"]: </strong>
                        @Html.ActionLink($"{UserService.GetUserNameById(ticket.UserIdSeller)}", "Index", "User",
                            new { id = ticket.UserIdSeller }, new { @class = "styleNameEvent" })
                    </div>
                    <div>
                        <strong>@Localizer["Seller`s note"]: </strong>
                        @ticket.Description
                    </div>
                </div>
                <div class="col-4">
                    <div class="text-center">
                        <strong>@Localizer["Price"]:</strong>
                        <strong>
                            <div>$@ticket.Price</div>
                        </strong>
                        <div class="btn btn-outline-primary">
                            @Html.ActionLink(Localizer["Buy"].Value, "CreateOrderWithStatusWaiting", "Order",
                                new
                                {
                                    ticketId = ticket.Id,
                                    sellerId = ticket.UserIdSeller
                                })
                        </div>
                    </div>
                </div>
            }
            <hr />
        }
    </div>
</div>
