@using Microsoft.AspNetCore.Mvc.Localization
@using TicketReSail.Core.Interface
@inject IViewLocalizer Localizer
@inject IEventService Event
@inject ITickerService Ticker

@model IEnumerable<TicketReSail.DAL.Model.Order>

@{ ViewData["Title"] = Localizer["My Tickets"]; }

<h3>The tickets you sell</h3>
<hr/>
<table class="table">
    <caption>@Localizer["List of orders"]</caption>
    <thead>
        <tr>
            <th scope="col">@Localizer["Event name"]</th>
            <th scope="col">@Localizer["Price"]</th>
            <th scope="col">@Localizer["Status"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orders in Model)
        {
            <tr>
                <td>@Event.GetEventNameByTicketId(orders.TicketId)</td>
                <td>$@Ticker.GetPriceByTicketId(orders.TicketId)</td>
                <td>@orders.Status</td>
            </tr>
        }
    </tbody>
</table>