@model OrdersViewModel

@{
    ViewData["Title"] = "My Tickets";
}

<table class="table">
    <caption>List of orders</caption>
    <thead>
    <tr>
        <th scope="col">Event name</th>
        <th scope="col">Price</th>
        <th scope="col">Seller</th>
        <th scope="col">Buyer</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var orders in Model.Orders)
    {
        <tr>
            <td>@orders.Ticket.Event.Name</td>
            <td>$@orders.Ticket.Price</td>
            <td>@orders.Ticket.Seller.FirstName @orders.Ticket.Seller.LastName</td>
            <td>@orders.Buyer.FirstName @orders.Buyer.LastName</td>
            <td>@orders.Status</td>
        </tr>
    }
    </tbody>
</table>