@using Microsoft.AspNetCore.Mvc.Localization
@using TicketReSail.Core.Interface
@inject IViewLocalizer Localizer
@inject IUserService UserService

@model UserViewModel
@{
    ViewData["Title"] = Localizer["User Info"];
}

<h2>@Localizer["User information"]</h2>

<div class="container">
    <div class="row">
        <div class="text-left">
            <div><strong>@Localizer["First name"]: </strong>@UserService.GetFirstNameById(Model.Users.Id)
            </div>
            <div><strong>@Localizer["Last name"]: </strong>@UserService.GetLastNameById(Model.Users.Id)
            </div>
            <div><strong>@Localizer["Address"]: </strong>@UserService.GetAddressById(Model.Users.Id)
            </div>
            <div><strong>@Localizer["Phone number"]: </strong>@UserService.GetPhoneNumberById(Model.Users.Id)
            </div>
        </div>
    </div>
</div>