@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@inject IViewLocalizer Localizer

<ul class="navbar-nav flex-grow-1">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@Localizer["Hello"], @User.Identity.Name!</a>
        </li>

        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">@Localizer["Logout"]</button>
            </form>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Localizer["My Tickets"]
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div>@Html.ActionLink("Selling", "SellTicket", "Order", new { status = "Selling" })</div>
                <div>@Html.ActionLink("Sold", "SellTicket", "Order", new { status = "Sold" })</div>
                <div>@Html.ActionLink("Waiting", "SellTicket", "Order", new { status = "Waiting" })</div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Localizer["My Orders"]
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div>@Html.ActionLink("WaitingForConfirmation", "BuyTicket", "Order", new { status = "WaitingForConfirmation" })</div>
                <div>@Html.ActionLink("Confirmation", "BuyTicket", "Order", new { status = "Confirmation" })</div>
                <div>@Html.ActionLink("Rejected", "BuyTicket", "Order", new { status = "Rejected" })</div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Localizer["Sing In"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
        </li>
    }
</ul>