@using Microsoft.AspNetCore.Mvc.Localization
@using TicketReSail.Core.Interface
@inject IViewLocalizer Localizer
@inject IUserService Users

<ul class="navbar-nav flex-grow-1">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
               title="Manage">@Localizer["Hello"], @Users.GetLoginByUserName(User.Identity.Name)!</a>
        </li>

        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                   asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">@Localizer["Logout"]</button>
            </form>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="IndexSell">@Localizer["My Tickets"]</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="IndexBuy">@Localizer["My Orders"]</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Localizer["Sing In"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
        </li>
    }
</ul>